<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ハイクを詠め</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  </head>
  <body>
    <header class="bg-info p-3">
      <h1 class="mb-0">ハイクを詠め</h1>
    </header>
    
    <div id="app" class="row px-5">
      <!-- 編集画面 -->
      <div class="col-4 p-5 border-right editzone">
        <input type="text" v-model="editFirst" placeholder="五">
        <br>
        <input type="text" v-model="editSecond" placeholder="七">
        <br>
        <input type="text" v-model="editThird" placeholder="五">
        <button class="btn btn-dark" v-on:click="haiku">詠む</button>
        <div class="mt-5 previewbox">
          <p>プレビュー</p>
          <div class="preview p-3 border border-secondary">
            <p class="first">{{ editFirst }}</p>
            <p class="second">{{ editSecond }}</p>
            <p class="third">{{ editThird }}</p>
          </div>
        </div>
      </div>
      <!-- 表示画面 -->
      <div class="col-6 pt-5 haikudisplay" v-if="yomu">
        <!-- できれば和風フォントで -->
          <p class="first-main">{{ editFirst }}</p>
          <p class="second-main">{{ editSecond }}</p>
          <p class="third-main">{{ editThird }}</p>
      </div>
    </div>
    <script src="main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>