<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ToDoリスト</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
    </style>
  </head>
  <body>
    <header>
      <h1 class="text-center">ToDoリスト</h1>
    </header>
    <!-- 削除ボタン(オール削除も)と完了ボタンと完了ボタン実装 完了ボタンはタスクに線を引く -->
    <div id="app" class="row">
      <div class="col"></div>
      <div class="col">
        <div class="input-group">
          <input class="form-control" type="text" v-model="newTodoText" placeholder="やることを入力してください。">
          <button class="btn btn-secondary" v-on:click="addNewTodo">追加</button>
        </div>
        <ul class="list-group">
          <li class="list-group-item" v-for="(item, index) in lists">
            <input type="checkbox" v-model="item.isDone">
            <span v-bind:class="{ finish: item.isDone}">{{ item.title }}</span>
            <button class="btn btn-secondary" v-on:click="deleteItem(index)">削除</button>
          </li>
        </ul>
      </div>
      <div class="col"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <script src="main.js"></script>
  <script>
    
  </script>
</html>