@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}

header {
  padding-left: 2rem;
  padding-right: 2rem;
  background: black;
  color: white;
}

h1 {
  margin: 0;
}

.background-change {
  /* width: 100vw; */
  height: 100vh;
  /* background: rgb(124, 62, 182); */
}



.fade-enter {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}

.fade-enter-active {
  transition: all 1000ms;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-to {
  opacity: 0;
}

.fade-leave-active {
  transition: all 1000ms;
}